@page
@model Sommerland.Web.Pages.CreateNewRideModel
@{
    ViewData["Title"] = "CreateNewRide";
}


<div class="addRide">
    <h1>Tilføj en ny forlystelse</h1>
    <form action="/DisplayAddedRide" method="get" id="addRideForm">
        <div>
            <label asp-for="Ride.Name"></label>
            <input asp-for="Ride.Name" placeholder="indtast navn" />
        </div>
        <div>
            <label asp-for="Ride.Category"></label>
            <select asp-for="Ride.Category.Id">
                @{
                    foreach (var category in Model.Categorys)
                    {
                        <option value="@(category.Id)">@(category.Name)</option>
                    }
                }
            </select>
        </div>
        <div>
            <label asp-for="Ride.ImageUrl"></label>
            <input asp-for="Ride.ImageUrl" value="Billede sti /img/picture.jpg"/>
        </div>
        <div>
            <label asp-for="Ride.ImageAltText"></label>
            <input asp-for="Ride.ImageAltText" placeholder="indtast image alt" />
        </div>    
        <textarea asp-for="Ride.Description" form="addRideForm" rows="4" cols="50" placeholder="indtast beskrivelse af forlystelsen her..."></textarea><br />
        <button>Submit</button>
    </form>


</div>

