@page "{rideId}"
@model Sommerland.Web.Pages.RidesModel
@{
    ViewData["Title"] = "Rides";
    string id = (string)RouteData.Values["rideId"];
    bool isTrue = int.TryParse(id, out int rideId);
}

<div>
    <h1>@Model.Ride.Name</h1>
    <p><strong>Category:</strong> @Model.Ride.Category</p>
    <p><strong>Status:</strong> @Model.Ride.Status</p>
    <p><strong>Description:</strong> @Model.Ride.Description</p>
</div>
